body{
    background-color: rgb(66, 82, 126);
    font-family: Arial;

}

main{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: fit-content;
    width: fit-content;
}

.element{
    border: grey solid 1px;
    background-color: aliceblue;
    color: grey;
    text-align: center;
    
}
footer{
    display: block;
    margin: auto;
    position: fixed;
    bottom: 1vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 82, 126,50%);
    width: 285px;
    height: 70px;
    border-radius: 70px;
    box-shadow:0 0 40px 10px rgba(66, 82, 126,50%);

}
footer>button{
    filter: blur(0%);
    -webkit-filter: blur(0%);
    height: 60px;
    width: 60px;
    display: block;
    margin: auto;

    border-radius: 60px;
    font-size: xx-large;
    color: black;
    line-height: 3vw;
    text-align: center;
    z-index: 4;
}
footer>p{
    position: absolute;
    z-index: 3;
    font-size: large;
    color: aliceblue;
}
.element > button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(220, 229, 236);
    font-display: bold;
    font-family: Arial;
    font-size: x-large;
}