body{
    background-color: rgb(66, 82, 126);
    font-family: Arial;

}

main{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: fit-content;
    width: fit-content;
}

.element{
    border: grey solid 1px;
    background-color: aliceblue;
    color: grey;
    text-align: center;
    
}
footer{
    display: block;
    margin: auto;
    position: fixed;
    bottom: 1%;
    left: 41.5%;
    
    background-color: rgba(66, 82, 126,0.782);
    width: 250px;
    height: 50px;
    border-radius: 70px;
    border: 1px black solid;

}
footer>button{

    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
    font-size: xx-large;
}
footer>button>p{
    position: absolute;
    z-index: 3;
    font-size: large;
    color: aliceblue;
}
.element > button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(220, 229, 236);
    font-display: bold;
    font-family: Arial;
    font-size: x-large;
}